.bio-pic {
  border-radius: 50%;
  margin: 20px;
  border: 1px solid black;
}

.top-divide {
  display: flex;
}

.image {
  border: 1px solid black;
  margin: 5px;
}

.about-user {
  padding-top: 50px;
}

.auth-buttons {
  padding-top: 10px;
}